/* Color */
/* Typography */
body {
  font-family: "Open Sans", sans-serif;
  color: #10141D;
  background-color: #d5dadf;
}

h1 {
  font-family: "Averta", sans-serif;
  font-size: 48px;
  line-height: 56px;
  margin: 0 0 16px;
}

h2 {
  font-family: "Averta", sans-serif;
  font-size: 32px;
  line-height: 48px;
  margin: 0 0 16px;
}

h3 {
  font-family: "Averta", sans-serif;
  font-size: 24px;
  line-height: 32px;
  margin: 0 0 16px;
}

h4 {
  font-family: "Averta", sans-serif;
  font-size: 20px;
  line-height: 28px;
  margin: 0 0 16px;
}

p {
  margin: 0 0 16px;
  max-width: 560px;
}

a {
  text-decoration: none;
}

/* Nav */
nav {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  position: fixed;
  padding: 0 20px;
  min-height: 56px;
  background: #fff;
  z-index: 999;
}

nav .container {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-menu-reverse {
  height: 100%;
}

.brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
  height: 100%;
}

.nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 16px;
  font-size: 14px;
  line-height: 20px;
  color: #10141D;
  background: rgba(16, 20, 29, 0);
  position: relative;
  font-weight: 600;
  list-style: none;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  -webkit-transition: all 100ms;
  transition: all 100ms;
}

.nav-link::after {
  content: '';
  height: 2px;
  width: 0;
  background: #10141D;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 100ms;
  transition: all 100ms;
}

.nav-link:hover::after,
.nav-link.active::after {
  content: '';
  width: calc(100% - 40px);
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  margin: 0;
  height: 100%;
}

.nav-menu li {
  list-style: none;
}

.burger {
  display: none;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  margin-right: 20px;
  height: 48px;
  width: 48px;
  padding: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.burger div {
  width: 100%;
  height: 2px;
  background: #10141D;
  border-radius: 2px;
  margin-bottom: 4px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.burger div:last-of-type {
  width: 50%;
  margin-bottom: 0;
}

.burger:hover div:last-of-type {
  width: 100%;
}

.nav-menu-reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 768px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 56px;
    bottom: 0;
    left: 0;
    min-width: 50%;
    height: 100vh;
    background: #fff;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
  }
  .nav-menu-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .nav-menu-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .nav-link {
    padding: 16px 40px;
  }
  .nav-link:hover,
  .nav-link.active {
    background: rgba(16, 20, 29, 0.1);
  }
  .nav-link::after {
    content: '';
    display: none;
  }
}

@media only screen and (max-width: 576px) {
  nav {
    padding: 0 18px;
  }
  nav .container {
    padding: 0 10px;
  }
  .nav-link {
    padding: 16px 28px;
  }
}
/*# sourceMappingURL=styles.css.map */